body{
  background-color: #fff !important;
  font-family: 'Open Sans', sans-serif;
}

.nav{
  display: fixed;
  top: 0;
  right: 0;
  width: 80%;
}

.nav .cell{
  width: 20%;
}

.main{
  display: block;
  margin: 0 auto !important;
  max-width: 1050px;
}
header{
  position: relative;
  background: url(../resources/images/banner.png);
  height: 500px;
  background-position: 65%;
  background-repeat: no-repeat;
  background-size: cover;

}

header .title{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 95px;
  position: absolute;
  top: 43%;
  left: 10%;
  color: #0451a9;
}

.redtext{
  color: #ef6c6c;
}

.intro{
  padding: 15px;
  height: 500px;
  background-color: #5066d2;
}
.intro h2{
  text-align: center;
  width: 55%;
  display: block;
  margin: 15px auto;
  font-weight: 700;
  font-size: 48px;
  color: #fff;
}

.textbox{
  background-color: #fff;
  width: 75%;
  margin: 45px auto 0px auto;
  padding: 50px;

}
.textbox p{
    font-size: 22px;
    color: #444;
    font-weight: 500;
}
@media(max-width: 767px){
  header .title{
    top: 58%;
    font-size: 85px;
  }
}
